// inside our src/global/variables.css file

:root {
  --app-primary-color: #488aff;
  --blue: #29A9E1;
  --blue-dark: #133960;
  --blue-dark-gradient: linear-gradient(-144deg, #133960 0%, #002157 100%);
  --gray-dark: #343232;
  --gray-medium: #818181;
  --gray-placeholder: #999999;
  --gray: #EEEEEE;
  --gray-light: #FAFAFA;
  --gray-hover: rgba(179,179,179,0.20);
}
