// inside our src/global/variables.css file

:root {
  --app-primary-color: #488aff;
  --blue: #29A9E1;
  --blue-dark: #133960;
  --blue-dark-gradient: linear-gradient(-144deg, #133960 0%, #002157 100%);
  --gray-dark: #343232;
  --gray-medium: #818181;
  --gray-placeholder: #999999;
  --gray: #EEEEEE;
  --gray-light: #FAFAFA;
  --gray-hover: rgba(179, 179, 179, 0.20);
  --magenta-light: #FF02FF;
  --magenta-dark: #B400B4;
  --magenta-gradient: linear-gradient(-224deg, #FF02FF 0%, #B400B4 99%);
}
