techomaha-button {
	visibility: visible;
	background-color: #0366d6;
	color: white;
	padding: 30px;
	text-align: center;
	height: 50px;
	width: 150px;
	border-radius: 20px;

 	&.outline{
		background-color: #ffffff;
		color: #0366d6;
		border: 3px solid #0366d6;
	}

	&.invert{
		background-color: #ffffff;
		color: #0366d6;
		border: 3px solid #ffffff;
	}
}
